
/* Header */
header {
    position: relative;
    height: 300px;
    background-image: linear-gradient(#73a9e7, rgba(204, 133, 0, 0.6))
  }
  
  h1 {
    padding: 100px 0;
    font: 44px "Arial";
    text-align: center;
  }

  header h1 {
    color: white;
  }
  
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  }
  
  @media (max-width: 699px) {
    .svg--lg {
      display: none;
    }
  }
  
  @media (min-width: 700px) {
    .svg--sm {
      display: none;
    }
  }

  .portfolio  {
    background-image: linear-gradient(#73a9e7, rgba(204, 133, 0, 0.6));
    background-size: cover;
}

/* Nav Bar  */
header nav {
  display: flex;
  justify-content: end;
  margin-top: 5%;
}

header nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
}

header nav ul li a:hover {
  background-color: linear-gradient rgba(204, 133, 0, 0.6);
  color: rgba(204, 133, 0, 0.6) ;
  border-radius: 5px;
}

.name
{
  color: #f8f8f8fd;  
}

.header li {
  list-style-type: none;
  text-align: right;
  display: inline;   
}
  

/*  profile picture & about me */
.about img {
    width: 260px;
    height: auto;
    vertical-align: left;
    border-radius: 130px;

}

.about p {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* Portfolio */
.portfolio {
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .portfolio1 img {
    padding: 20px;
    border-style: ridge;
    display: flex;
    width: 25%;
    display: flex;
    justify-content: center;
    border-color: rgba(204, 133, 0, 0.6);
    background-color: #73a9e7;
    flex: 1;
  }

  .portfolio2 img{
    padding: 20px;
    border-style: ridge;
    display: flex;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border-color: rgba(204, 133, 0, 0.6);
    background-color: #73a9e7;
    flex: 1;
  }
  
  .portfolio p {
    text-align: center;
    border-style: dashed;
  }
  
  /* Footer  */
.footer {
    text-align: center;
}

.footer p {
    border: none;
}

/* Contact  */
.contact {
    text-align: center;
    list-style-type: none;

}

