/* rezise profile picture */
.about img {
    width: 260px;
    height: auto;
    vertical-align: middle;
    border: 10px solid #73a9e7;
    border-radius: 130px;
}

.about p {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-image: linear-gradient(#73a9e7, rgba(24, 0, 43, 0.6));
}

.name
{
    color: #f8f8f8fd;
    
}

.header li {
    list-style-type: none;
    text-align: right;
    display: inline;
    
}

.footer {
    text-align: center;
}

.contact {
    text-align: center;
    list-style-type: none;

}

